.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/* LEFT IMAGE */
.left {
  flex: 1;
  background-color: #eaf6f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  width: 80%;
  max-width: 400px;
}

/* RIGHT FORM */
.right {
  flex: 1;
  padding: 80px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.right p {
  color: #555;
  margin-bottom: 30px;
}

.right input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions button {
  background-color: #db4444;
  color: white;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.actions span {
  color: #db4444;
  cursor: pointer;
  font-size: 14px;
}

.signupText {
  margin-top: 25px;
  font-size: 14px;
}

.signupText a {
  color: #db4444;
  text-decoration: none;
  font-weight: 500;
}
