.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card button {
  margin-top: 10px;
  padding: 8px 12px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}
