.contactPage {
  padding: 40px 80px;
  background: #fff;
}

.breadcrumb {
  font-size: 14px;
  color: #777;
  margin-bottom: 30px;
}

/* MAIN CONTAINER */
.container {
  display: flex;
  gap: 40px;
}

/* LEFT */
.left {
  width: 30%;
  background: #fafafa;
  padding: 25px;
  border-radius: 6px;
}

.box {
  margin-bottom: 20px;
}

.icon {
  width: 40px;
  height: 40px;
  background: #db4444;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.box h4 {
  margin: 8px 0;
  font-size: 16px;
}

.box p {
  font-size: 14px;
  color: #555;
}

.bold {
  font-weight: 600;
}

.left hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

/* RIGHT */
.right {
  width: 70%;
  background: #fafafa;
  padding: 25px;
  border-radius: 6px;
}

.inputs {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.inputs input {
  flex: 1;
  padding: 12px;
  border: none;
  background: #f5f5f5;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px;
  border: none;
  background: #f5f5f5;
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
}

.btn {
  background: #db4444;
  color: #fff;
  border: none;
  padding: 12px 28px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
