.section {
  padding: 60px;
}

/* HEADER */
.header {
  margin-bottom: 30px;
}

.featured {
  color: red;
  font-size: 14px;
  font-weight: 500;
}

.header h2 {
  font-size: 32px;
  font-weight: 600;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

/* CARD */
.card {
  position: relative;
  background: #000;
  border-radius: 4px;
  overflow: hidden;
  color: #fff;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CONTENT */
.content {
  position: absolute;
  bottom: 25px;
  left: 25px;
  max-width: 70%;
}

.content h3 {
  font-size: 22px;
  margin-bottom: 8px;
}

.content p {
  font-size: 14px;
  opacity: 0.9;
  margin-bottom: 10px;
}

.content button {
  background: transparent;
  border: none;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

/* LEFT BIG */
.big {
  height: 500px;
}

/* RIGHT SIDE */
.right {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.top {
  height: 235px;
}

.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.bottom .card {
  height: 235px;
}
