.home {
  padding-bottom: 40px;
}

/* HERO */
.hero img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

/* CATEGORIES */
.categories {
  padding: 40px;
  text-align: center;
}

.categoryGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.categoryGrid div {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.categoryGrid img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

/* PRODUCTS */
.products {
  padding: 40px;
}

.productGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}
.heroWrapper {
  display: flex;
  gap: 24px;
  margin-top: 20px;
}
